/** @format */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App h2 {
  font-size: 35px;
  margin-bottom: 12px;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 650px;
}

form input[type="text"],
form input[type="email"],
form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex-direction: column;
}

form .comments {
  display: table-cell;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: -6px;
<<<<<<< HEAD
  /* font-size: 10p; */
=======
>>>>>>> 9f430543ad8ecaef55bac5f2612fd8d80e924832
  /* margin-bottom: 5px; */
}
form fieldset legend {
  font-size: 20px;
  font-weight: 520;
}

form .push-notifications .push {
<<<<<<< HEAD
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
=======
  display: flexbox;
  flex-direction: column;
  /* align-items: center; */
  justify-content: first baseline;
>>>>>>> 9f430543ad8ecaef55bac5f2612fd8d80e924832
}

form .notification-options p {
  margin-top: -1px;
  color: rgb(140, 135, 135);
}

form .notification-options {
  margin: 10px 0;
}

form .notification-options label {
  font-weight: 600;
}

form .push-notifications h3 {
  margin-bottom: -1rem;
<<<<<<< HEAD
  font-size: 15px;
=======
>>>>>>> 9f430543ad8ecaef55bac5f2612fd8d80e924832
}

form .push-notifications p {
  color: rgb(140, 135, 135);
  font-family: Arial, sans-serif;
}

form .push-notifications {
  margin: 20px 0;
}

form .push-notifications label {
  display: block;
  margin-bottom: 5px;
}

form button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
<<<<<<< HEAD
  width: 15%;
=======
  width: 20%;
>>>>>>> 9f430543ad8ecaef55bac5f2612fd8d80e924832
}

form button:hover {
  background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 768px) {
  .App h2 {
    font-size: 30px;
  }

  form {
    width: 100%;
    padding: 15px;
  }

  form input[type="text"],
  form input[type="email"],
  form select {
    padding: 8px;
  }

  form button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .App h2 {
    font-size: 25px;
  }

  form {
    width: 100%;
    padding: 10px;
  }

  form input[type="text"],
  form input[type="email"],
  form select {
    padding: 6px;
  }

  form label {
    font-size: 14px;
  }

  form button {
    width: 100%;
    padding: 8px;
  }
}
