/** @format */

.navbar {
  background-color: #2d3748;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.navbar nav h1 {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
