/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b022a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CSS media query for small screens */
/* @media (max-width: 640px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }

  .w-10\/10 {
    width: 100%;
  }

  .max-w-\[1160px\] {
    max-width: 100%;
  }

  .gap-x-20 {
    gap: 1.25rem;
  }

  .w-10\/12 {
    width: 100%;
  }

  .max-w-\[400\] {
    max-width: 100%;
  }

  .mx-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .text-\[1\.975rem\] {
    font-size: 1.5rem;
  }

  .leading-2\.3 {
    line-height: 2.3;
  }

  .text-\[1\.125rem\] {
    font-size: 1rem;
  }

  .leading-\[1\.625\] {
    line-height: 1.625;
  }

  .mt-4 {
    margin-top: 1rem;
  }

  .flex {
    width: 100%;
  }

  .gap-x-2 {
    gap: 0.5rem;
  }

  .mt-5 {
    margin-top: 1.25rem;
  }

  .w-full {
    width: 100%;
  }

  .h-\[1px\] {
    height: 1px;
  }

  .mt-5 {
    margin-top: 1.25rem;
  }

  .text-\[1\.375rem\] {
    font-size: 1rem;
  }

  .rounded-\[8px\] {
    border-radius: 0.5rem;
  }

  .px-\[12px\] {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .py-\[8px\] {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .mt-3 {
    margin-top: 0.75rem;
  }

  .relative {
    position: relative;
  }

  .w-8\/12 {
    width: 100%;
  }

  .max-w-450 {
    max-width: 100%;
  }

  .pt-6 {
    padding-top: 1.5rem;
  }

  .left-1 {
    left: 0.25rem;
  }

  .absolute {
    position: absolute;
  }

  .-top-4 {
    top: -1rem;
  }

  .left-4 {
    left: 1rem;
  }

  .pt-6 {
    padding-top: 1.5rem;
  }
} */
